:root{
  --c-grey: rgba(221, 216, 216, 0.267);
}

*{
  margin: 0;
  
}
.bg-grey{
  background-color: var(--c-grey);
}


/* a{
  color: inherit !important;
  text-decoration: none !important;
  text-transform: capitalize;
  font-weight: 600 !important;
} */

/* .min-100h{
  min-height: 100vh !important;
} */
.w-fit{
  width: fit-content !important;
}

.nav-link{
  width: fit-content;
  text-wrap: nowrap;
  border-radius: 20px;
  
}
.nav-link:hover{
  background-color: rgba(2, 207, 197, 0.288);
  color: black !important;
}
/* SideBar */
.avatar{
  width: 7rem;
  aspect-ratio: 1;
}
.logo{
  width: 75px !important;
  aspect-ratio: 1;
}
/* alarm icon component */
.alarm-icon {
  position: relative;
  display: inline-block;
  width: auto;
}
.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: rgba(14, 14, 14, 0.774);
  color: rgb(226, 209, 205) !important;
  padding: 4px 8px;
  font-size: 12px;
}

/* Dashboard */
.name-avatar{
  width: 2rem;
  aspect-ratio: 1;
}
.app-bar:hover{
  background-color: rgba(226, 209, 205, 0.205);
  cursor: pointer;
}
/* Appointments */
.forum-overlay{
  position: fixed;
  top: 0;
  right: 0;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Make sure the forum appears on top */
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Schedule */
.day-con:hover{
  background-color: var(--bs-secondary);
  cursor: pointer;
  color: white !important;
}
.day-con::after{
  content: "";
  position: relative;
  z-index: 1000;
  bottom: -15px;
  width: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgb(211, 7, 7);
}

.warning-circle::after{
  content: "";
  position: absolute;
  
  z-index: 1000;
  top: 10px;
  left: -40px;
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgb(27, 95, 107);
}